src/main/mule/w4l1sequentialdata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="90d1490f-bdc3-44ec-9d10-cec5afd13103" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="w4l1sequentialdataFlow" doc:id="d9dacb00-1690-48f3-9a78-f83f5a04e431" >
		<http:listener doc:name="Listener" doc:id="8e9612b3-e2c4-46b5-a315-03ce50c385ea" config-ref="HTTP_Listener_config" path="SendDataNbeloABPostmanPasteNgberoSequentialNbelo"/>
		<set-variable value="#[payload]" doc:name="Variable" doc:id="8e0c497f-fba5-4151-bdc1-ff2f8659e60e" variableName="Data"/>
		<ee:transform doc:name="Transform Message to CSV" doc:id="e682ee06-b543-412b-bc13-d6d302798e0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/CSV header = false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to CSV" doc:id="46411afb-4feb-4650-ac18-0923fb760a8d" path="C:\MuleProjects\Sequential41ACSV" mode="APPEND"/>
		<ee:transform doc:name="Transform Message JSON" doc:id="9a1faa73-a5c4-4837-bcde-251336f91a10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to Json" doc:id="97a3c6da-a024-4f44-b918-a71b9e1240f5" path="C:\MuleProjects\sequential41AJSON" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="d5fa9267-6a7c-48b3-93b4-8b5cb9496658" message="you got it right"/>
		<ee:transform doc:name="Transform Message" doc:id="a39db80c-fabb-4173-905b-0c97a4781aea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/CSV
---
{
'message':"yes",
'code': 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
